<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/create.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="mx-auto" style="width: 200px;">
        <!-- <div class="d-flex "> -->
            <form class="row g-3">
                <div class="col-md-2">
                    <label for="validationServer01" class="form-label">First name</label>
                    <input type="text" class="form-control is-valid" id="validationServer01"
                        aria-describedby="validationServer01Feedback" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="validationServer02" class="form-label">Last name</label>
                    <input type="text" class="form-control is-valid" id="validationServer02" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div>
                    <div class="col-md-1">
                        <label for="validationServer03" class="form-label">
                            Date of Birth:</label>
                        <input type="date" name="begin" placeholder="dd-mm-yyyy" value="" min="1997-01-01"
                            max="2030-12-31">
                        <div id="validationServer03Feedback" class="invalid-feedback">
                            Must be 18 or older.
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationServer04" class="form-label">Email</label>
                    <input type="text" class="form-control is-invalid" id="validationServer04"
                        aria-describedby="validationServer04Feedback" required>
                    <div id="validationServer04Feedback" class="invalid-feedback">
                        Must have @ domain
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="validationServerUserId" class="form-label">User Id</label>
                    <div class="input-group has-validation">
                        <input type="text" class="form-control is-invalid" id="validationServerUsername"
                            aria-describedby="validationServerUsernameFeedback" required>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback">
                            Please choose a user Id.
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="validationServer05" class="form-label">Password</label>
                    <input type="text" class="form-control is-invalid" id="validationServer05"
                        aria-describedby="validationServer05Feedback" required>
                    <div id="validationServer05Feedback" class="invalid-feedback">
                        Must be at least 8 character
                        <br>
                        Must have One Lower, One Upper Case
                        <br>
                        Must have One Special Character and a Number
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="validationServer06" class="form-label">Confirm Password</label>
                    <input type="text" class="form-control is-invalid" id="validationServer06"
                        aria-describedby="validationServer06Feedback" required>
                    <div id="validationServer06Feedback" class="invalid-feedback">
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationServer07" class="form-label">Address 1</label>
                    <input type="text" class="form-control is-invalid" id="validationServer07"
                        aria-describedby="validationServer07Feedback" required>
                    <div id="validationServer07Feedback" class="invalid-feedback">
                        Please provide a valid address.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationServer08" class="form-label">Address 2</label>
                    <input type="text" class="form-control is-invalid" id="validationServer08"
                        aria-describedby="validationServer08Feedback" required>
                    <div id="validationServer08Feedback" class="invalid-feedback">
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationServer09" class="form-label">City</label>
                    <input type="text" class="form-control is-invalid" id="validationServer09"
                        aria-describedby="validationServer09Feedback" required>
                    <div id="validationServer09Feedback" class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>
                <div class="col-md-1">
                    <label for="validationServer10" class="form-label">State</label>
                    <select class="form-select is-invalid" id="validationServer10"
                        aria-describedby="validationServer10Feedback" required>
                        <option selected disabled value="">Choose...</option>
                        <option>...</option>
                    </select>
                    <div id="validationServer10Feedback" class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="validationServer11" class="form-label">Zip</label>
                    <input type="text" class="form-control is-invalid" id="validationServer11"
                        aria-describedby="validationServer11Feedback" required>
                    <div id="validationServer11Feedback" class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3"
                            aria-describedby="invalidCheck3Feedback" required>
                        <label class="form-check-label" for="invalidCheck3">
                            Agree to terms and conditions
                        </label>
                        <div id="invalidCheck3Feedback" class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-danger" type="submit">Create Account</button>
                </div>
            </form>
        </div>
    </div>




</body>

</html>